

/* Start:/local/components/custom/profile/templates/.default/style.min.css?1686588201206*/
.popup-save-btn:disabled{opacity:.5}.popup-save-btn{transition:opacity .3s}.popup__description{color:var(--akaroaapprox);font-family:Roboto;font-size:18px;line-height:20px;margin-right:auto;margin-top:15px}
/* End */
/* /local/components/custom/profile/templates/.default/style.min.css?1686588201206 */
