

/* Start:/bitrix/wizards/bitrix/eshop/css/panel.css?1683135932240*/
div.bx-top-panel table.bx-pnbutton div.icon-wizard {background-image:url(/bitrix/wizards/bitrix/eshop/css/wizard.gif)}

td.popupmenu div.popupitem .wizard {background-image:url(/bitrix/wizards/bitrix/eshop/css/wizard.gif);}
td.popupmenu div.popupitem .wizard-clear {background-image:url(/bitrix/wizards/bitrix/eshop/css/wizard_clear.gif);}
/* End */


/* Start:/local/templates/coferrier?16832129134096*/

/* End */


/* Start:/local/templates/coferrier/styles.css?168321273728*/
body{
  background: red;
}
/* End */
/* /bitrix/wizards/bitrix/eshop/css/panel.css?1683135932240 */
/* /local/templates/coferrier?16832129134096 */
/* /local/templates/coferrier/styles.css?168321273728 */
